*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    line-height: 1.6;
}
input:-webkit-autofill,input:-webkit-autofill:focus,input:-webkit-autofill:active { // cambiaelcolor del autocompletado
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: inherit !important;
    background-color: transparent !important;
    transition: background-color 5000s ease-in-out 0s;
}
.hidden {
  display: none !important;
}
body{
    background-image: url("FONDO.jpg");
    background-size: cover;        /* que cubra toda la pantalla */
    background-position: center;   /* centrada */
    background-repeat: no-repeat;  /* que no se repita */


    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    .container{
        background-color: rgb(56, 58, 58,0.2);
        backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 5%;
        display: flex;
        padding-left: 4rem;
        padding-right: 4rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        align-items: center;
        justify-content: center;
        height: 35rem;
       .container-form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            width: 350px;
            height: 100%;
            min-width: 350px;
            min-height: 380px;
            h1{
                color: rgb(0, 0, 0,0.6);
                width: 80%;
                font-family: Arial, Helvetica, sans-serif;                
            }
            .buttons{
                display: flex;
                align-items: center;
                justify-content: center;

                width: 80%;
                height: 10%;

                border-radius: 20px;
                border: 2px solid #ff0000;
                overflow: hidden;
                
                
                .LOGIN, .REGISTRAR{
                    font-family: Arial, Helvetica, sans-serif;
                    background-color: rgba(0, 0, 0, 0.1);
                    backdrop-filter: blur(20px);


                    font-weight: bold;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    width: 50%;
                    height: 100%;
                    padding: 15px 30px;
                    cursor: pointer;
                    transition: background-color 0.5s, color 0.5s;
                }
                
                .LOGIN{
                    color: #ff0000;
                }
                .REGISTRAR{
                    color: #ff0000;
                }

                .active {
                    background: rgba(255,0,0,0.6) !important;
                    color: #ffffff !important;
                }

            }
            .conteiner-form{
                padding: 1rem 0px;
                display: flex;
                width: 80%;
                height: 80%;

                #Formulario-Login, #Formulario-Registro{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 30px;

                    input{
                        background: transparent;
                        color: rgb(255, 255, 255,0.8);
                        border: none;
                        border-bottom: 2px solid rgb(255, 255, 255,0.5);
                        outline: none;/* quita el borde azul al hacer focus */
                    }
                    input::placeholder {
                    color: rgb(255, 255, 255,0.5);   /* color del placeholder */
                    opacity: 1;       /* importante en algunos navegadores */
                    }
                    input:focus { //cambia elcolor cuando hay focus y estas escribiendo
                        background: transparent;
                        outline: none;            /* opcional */
                    }
                    

                    button{
                        background-color: rgb(134, 133, 133);
                        border-radius: 10px;
                        border: 0px;
                        height: 2rem;
                        color: #ffffff;
                        font-weight:bold;
                        transition: background-color 0.3s, border 0.3s;
                    }
                    button:hover{
                        background-color: rgba(255, 0, 0, 0.2);
                        border: 2px solid red;
                        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
                    }
                    h1{
                        display: flex;                    
                        align-items: center;
                        justify-content: center;
                        
                        font-size: 1rem;
                        width: 100%;
                    }
                }
                
            
            }
       }

    }
}
